.first-panel {
  position: relative;
  overflow: hidden;
}

.image {
  display: block;
  height: auto;
  width: 100%;
}

.desktop-image {
  display: none;
}

.arrow-container {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
}

.arrow-container-desktop {
  display: none;
}

.arrow {
  appearance: none;

  width: 4em;
  aspect-ratio: 1 / 1;
  border: none;

  display: grid;
  place-items: center;

  cursor: pointer;

  background-color: black;
}

.arrow:hover {
  background-color: var(--very-dark-gray);
}

.icon {
  width: auto;
  max-height: 35%;
}

.second-panel {
  padding: 3rem var(--p-container);

  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.title {
  font-size: var(--fs-xl);
  letter-spacing: -1px;
}

.description {
  font-size: var(--fs-md);
  line-height: 1.25em;
  color: var(--dark-gray);
}

.cta {
  appearance: none;
  background-color: transparent;
  border: none;

  width: fit-content;
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 1.25em;

  cursor: pointer;
}

.cta:hover {
  color: var(--dark-gray);
}

.spaced-text {
  font-size: var(--fs-md);
  font-weight: 600;
  letter-spacing: 8px;
}

@media screen and (min-width: 40em) {
  .image {
    display: none;
  }

  .desktop-image {
    display: block;
  }
}

@media screen and (min-width: 840px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
  }

  .first-panel {
    overflow: hidden;
  }

  .second-panel {
    max-width: 75ch;
    padding-inline: clamp(2rem, 2.25vw + 1rem, 5rem);

    position: relative;
    justify-content: center;
  }

  .arrow-container {
    display: none;
  }

  .arrow-container-desktop {
    display: flex;
    left: 0;
  }
}
