.panel {
  padding: 3em var(--px);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title {
  font-size: clamp(1.2rem, 3vw, 1.4rem);
  letter-spacing: 3px;
}

.description {
  color: var(--dark-gray);
  font-size: var(--p-size);
  line-height: 1.25em;
}

.image {
  margin-inline: auto;

  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 50em) {
  .about {
    display: flex;
    align-items: center;
  }

  .panel {
    padding-inline: 2.5em;
    max-width: 70ch;
  }

  .image-container {
    overflow: hidden;
  }

  .image {
    margin-inline: unset;
    max-width: unset;
    height: 100%;
  }
}
