.panel {
  padding: 3em var(--p-container);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title {
  font-size: var(--fs-lg);
  letter-spacing: 3px;
}

.description {
  color: var(--dark-gray);
  font-size: var(--fs-md);
  line-height: 1.25em;
}

.image {
  margin-inline: auto;

  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 840px) {
  .panel {
    padding-inline: 2.5em;
    max-width: 70ch;

    grid-column: 2 / 4;
  }

  .image-container:first-child {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .image-container:last-child {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }

  .image {
    margin-inline: unset;
    max-width: unset;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
